* {
  box-sizing: border-box;
  
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
  
  user-select: none;
  touch-action: none;
}

html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#canvas {
  width: 100%;
  height: 100%;

  background: #7aab5e;
}
